<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{ node.name }}
    <button mat-icon-button (click)="addNode(node)"> <mat-icon>add</mat-icon></button>
    <button
      (click)="deleteNodeAndDescendants(node)"
      mat-icon-button
      [attr.aria-label]="'Delete ' + node.name"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button
    (click)="editNode(node)"
    mat-icon-button
    [attr.aria-label]="'create ' + node.name"
  >
    <mat-icon>create</mat-icon>
  </button>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePadding
  >
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'Toggle ' + node.name"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    {{ node.name }}
    <button mat-icon-button (click)="addNode(node)"> <mat-icon>add</mat-icon></button>
    <button
      (click)="deleteNodeAndDescendants(node)"
      mat-icon-button
      [attr.aria-label]="'Delete ' + node.name"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="editNode(node)"> <mat-icon>create</mat-icon></button>
  </mat-tree-node>
</mat-tree>
